* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #484946;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.info, .dados {
  background-color: #F1F1F199;
  border-radius: 0px 8px 8px 0px;
  transition: .5s;
}
.info {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 39px;
  padding-bottom: 22px;
  padding-top: 25px;
  padding-left: 24px;
  padding-right: 24px;
}
.info > h1 {
  display: flex;
  justify-content: space-between;
}

.info h1 .modo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
  height: fit-content;
  width: fit-content;
  border-radius: 50%;
}
.info h1 .modo:hover {
  cursor: pointer;
}

.dados input, .dados select{
  border: 1px solid #286BB9;
  border-radius: 4px;
}
.dados:nth-child(4) > label {
  margin-bottom: 2px;
}
.dados div input[type='radio']{
  appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  transition: .5s;
}
.dados div input[type='radio']:checked{
  appearance: auto;
  transform: scale(1.05);
}


.dados:not(:nth-child(6)) > label::before{
  content: '* ';
  color: red;
}

.dados {
  font-size: 14px
}
.dados > label:nth-child(1){
  font-weight: 600;

}

.dados input:not([type='radio']), .dados select{
  padding-left: 12px;
}
.dados select {
  appearance: none;
  background-image: url("../public/seta.svg");
  background-repeat: no-repeat;
  background-position: right 18px center; /* Ajusta a posição */
  padding-right: 30px;
  background-color: #fff;
}

.dados:not(:nth-child(7)) {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 22px;
  padding-left: 24px;
  padding-right: 31px;
  border-left: 7px solid #286BB9;
  gap: 3px;
}
.dados:nth-child(7) {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  border-left: 7px solid #286BB9;
} 

.dados:nth-child(7){
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.dados:nth-child(4) div label:nth-child(2){
 margin-right: 30px;
}
.dados:nth-child(4) div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dados input[type='text'], .dados select, .dados input[type='email'] {
  height: 40px;
  outline: none;
  font-weight: 600;
  transition: .5s;
}
.dados input[type='text']::placeholder, .dados select, .dados input[type='email']::placeholder {
  height: 40px;
  outline: none;
  font-weight: normal;
}


.dados:nth-child(4) label:nth-child(1) {
  display:block;
}
.dados > input[type='text'] {
  width: 777px;
  transform: .5s;
}
.dados:nth-child(6) input{
  height: 70px;
}

.dados input[type='checkbox'] {
  appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 0px;
  border: 1.5px solid #438adb;
}
.dados input[type='checkbox']:checked{
  appearance: auto;
  transform: scale(1.15);

}
form .dados:nth-child(6) textarea:nth-child(2)::placeholder{
  font-weight: normal;
}
form .dados:nth-child(6) textarea:nth-child(2){
  border: 1px solid #438adb;
  border-radius: 4px;
  resize: none;
  outline: none;
  height: 70px;
  padding: 5px;
  font-weight: 600;
  transition: .5s;

}


.asteristico {
  color: red;
}

#botao > *{
  background-color: #286BB9;
  padding: 13px 30px 13px 30px;
  border-radius: 8px;
  border: none;
  color: #FBFCFF;
  margin-top: 32px;
}
#botao input:hover{
  cursor: pointer;
  filter:brightness(1.2);
}
#botao input:active{
  background-color: #438adb;
  filter:brightness(0.8);
}

/* MODO DARK SOULS */
.info.dark, .dados.dark{
  background-color: #373636;
}
#app.dark {
  background-color:#1E1E1E;
}

.dados.dark input[type='text'], .dados.dark input[type='email'], .dados.dark textarea,
.dados.dark select {
  background-color: #1E1E1E;
  color: #FFFFFF;
}
.dados.dark input[name='sexo'], .dados.dark input[type='checkbox'] {
  background-color: #FFFFFF;
}
.info.dark h1, .info.dark p, .info.dark p strong {
  color: #FFFFFF;
}
.dados.dark label {
  color: #FFFFFF;
}
.dados.dark input::placeholder{
  color:#8F8D99;
}

#formulario.dark div:nth-child(8) {
  color: #FCFDFC;
}

.dados.dark select {
  appearance: none;
  background-image: url("../public/seta.svg");
  background-repeat: no-repeat;
  background-position: right 18px center; /* Ajusta a posição */
  padding-right: 30px;
  color: #8F8D99;
}
.dados.dark select > option{
  color: #8F8D99;
}

/* IMPEDI QUE AO SELECIONAR UMA SUJESTÃO DE EMAIL OU NOME QUE O CAMPO FIQUE COM FUNDO BRANCO */
.dados.dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #222 inset !important;
  -webkit-text-fill-color: #fff !important;
}
